#masterContainer{
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 200px);
    font-weight: 300!important;
}

.banner-container{
    position: relative;
    margin-top: 75px;
    height: calc(100vh - 75px - 2rem);
}

.default-container{
    position: relative;
    background: white;
    padding: 30px;
    margin-bottom: 25px;

    max-width: 900px;
    width: 100%;
    min-height: 75vh;
    margin-left: auto;
    margin-right: auto;
}

.right-container{

}

.left-container{

}

.inner-container{
    position: relative;
    background: white;
    margin-bottom: 25px;

    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-container{
    min-height: 300px;
    text-align: center;
    position: relative;
    background: white;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CBCBCB;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

.project-item-list{
    text-align: center;
}

.center-container{
    text-align: center;
}

.staggered-container{
    padding-top: 15rem;
}

.staggered-container-title{
    position: absolute;
    top: 10rem;
    left: 0;
    background: black;
    padding: 60px 40px 10px;
    width: 250px;
    right: 0;
    margin: 0 auto;
}

.col-md-6.project-item-list{
    padding-right: 2px!important;
    padding-left: 2px!important;
}


#bootstrap-overrides .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left:0px;
}

#bootstrap-overrides .col-centered {
    vertical-align: top;
    display: inline-block;
    float: none;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 750px){

    .staggered-container-title{
        display: none;
    }

    .staggered-container{
        padding-top: 8rem;
    }

    .card-container{
        min-height: 150px;
    }
}