#masterContainer{
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 200px);
    font-weight: 300!important;
}

.banner-container{
    position: relative;
    margin-top: 75px;
    height: calc(100vh - 75px - 2rem);
}

.default-container{
    position: relative;
    background: white;
    padding: 30px;
    margin-bottom: 25px;

    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.inner-container{
    position: relative;
    background: white;
    margin-bottom: 25px;

    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-container{
    position: relative;
    background: white;
    padding: 30px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

.center-container{
    text-align: center;
}

.col-md-6.project-item-list{
    padding-right: 7px!important;
    padding-left: 7px!important;
}

@media (max-width: 750px){

}