#bootstrap-overrides h1{
    font-size: 3rem;
    font-weight: 300;
}

#bootstrap-overrides h2{
    font-size: 2.0rem;
    font-weight: 300;
}

#bootstrap-overrides h3{
    font-size: 1.75rem;
    color: darkgrey;
    font-weight: 300;
}

#bootstrap-overrides p{
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 300;
}

#bootstrap-overrides .small-text{
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#bootstrap-overrides .tiny-text{
    margin: none;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

#bootstrap-overrides .normal-text{
    font-size: 1.5rem;
    line-height: 1.75rem;
}