html{
    font-size: 12px;
}

*{
    word-wrap: break-word;
    font-family: 'Malgun Gothic', sans-serif;
}

#bootstrap-overrides h1{
    font-size: 3.5rem;
    font-weight: 300;
}

#bootstrap-overrides h2{
    font-size: 2.5rem;
    font-weight: 300;
}

#bootstrap-overrides h3{
    font-size: 2.0rem;
    color: darkgrey;
    font-weight: 300;
}

#bootstrap-overrides h4{
    font-size: 1.7rem;
    font-weight: 300;
}

#bootstrap-overrides p{
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 300;
}

#bootstrap-overrides p p{
    color: inherit;
}

#bootstrap-overrides .contact-form p strong{
    color: #1E86F3;
    display: inline;
}

#bootstrap-overrides .small-text p{
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 300;
}

#bootstrap-overrides .small-text{
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#bootstrap-overrides .tiny-text{
    font-size: .8rem;
    line-height: 1.25rem;
}

#bootstrap-overrides .normal-text{
    font-size: 1rem;
    line-height: 1.75rem;
}