#navBar-mother{
    z-index: 100;
}

#navBar-background{
    transition: all .3s ease-in-out;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 75px;
    box-shadow: none;;
}

#navBar-background.active{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

.navBar-language{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 2rem;
    cursor: pointer;
}

#navBar-content {
    padding-top: 2rem;
    background-color: white;
    width: 100%;
    max-width: 1250px;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}

#navBar-logo{
    width: 125px;
}

#navBar-responsive{
    float: right;
}

#navBar-responsive-button{
    display: none;
}

#bootstrap-overrides #navBar-logo,
#bootstrap-overrides .navBar-elements,
#bootstrap-overrides .navBar-elements:hover,
#bootstrap-overrides .navBar-elements:active,
#bootstrap-overrides .navBar-elements:focus{
    color: black;
    background: white;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: none;
}

.nav-selected{
    padding-bottom: 10px;
    border-bottom: #1E86F3 5px solid;
}

.navBar-bar1, .navBar-bar2, .navBar-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .navBar-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .navBar-bar2 {opacity: 0;}

.change .navBar-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#overlay{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    transition:visibility 0.5s ease-in-out;
    visibility: hidden;
    background: rgba(128, 128, 128, 0.68);
}

.on#overlay{
    visibility: visible;
}

@media (max-width: 750px){

    #navBar-logo {
        width: 75px;
    }

    #navBar-responsive{
        position: relative;
        overflow: hidden;
        transition: all ease-in-out .2s;
        float: none;
        height: 0;
        width: 100%;
        background: white;
    }

    .nav-selected{
        border-bottom: none;
        color: #1E86F3;
    }

    #navBar-responsive-button{
        display: inline-block;
        float: right;
        cursor: pointer;
    }

    #navBar-responsive .navBar-elements,
    #navBar-responsive .navBar-elements:hover,
    #navBar-responsive .navBar-elements:active,
    #navBar-responsive .navBar-elements:focus{
        position: relative;
        font-size: 1.5rem;
        width: 100%;
        background: white;
        padding: 15px;
    }

    .change#navBar-responsive{
        height: 185px;
    }

    .navBar-language{
        text-align: center;
        display: block;
        margin: auto;
        padding-left: 0;
    }
}