#sample-samyeon #navBar-logo{
    background: none!important;
    margin-top: -25px;
    margin-right: 10px;
    width: 75px;
}

#sample-samyeon .banner-container{
    width: 100%;
    height: calc(100vh - 75px - 1rem);
}

/*-----Default Button-----*/
#bootstrap-overrides #sample-samyeon #body .btn{
    outline: none;
    border: solid 2px black;
    color: black;
    padding: .75rem 3rem;
    background: white;
    box-shadow: none;
}
#bootstrap-overrides #sample-samyeon #body .btn:hover,
#bootstrap-overrides #sample-samyeon #body .btn:focus,
#bootstrap-overrides #sample-samyeon #body .btn:active{
    background: #f5f5f5;
}

#sample-samyeon .banner-container:first-child{
    background: linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
    ), url(http://mentorchamber.org/wp-content/uploads/2016/10/manufacturing.jpg) 0 0;
    animation: moving-background 120s linear 0s infinite;
}

@keyframes moving-background {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

#sample-samyeon .banner-container:nth-child(3),
#sample-samyeon .banner-container:nth-child(5){
    margin: 0;
    background: #f5f5f5;
    animation: moving-background 120s linear 0s infinite;
}

.samyeon-containers{
    min-height: 350px;
    padding: 15px;
}

.border-white{
    padding: 10px 20px;
    border: solid 5px white;
}

.border-black{
    padding: 10px 20px;
    border: solid 5px black;
}

#sample-samyeon #footer{
    height: 200px;
    padding: 1rem 2rem 2rem;
    width: 100%;
    background: #000000;
}

.google-maps{
    margin: auto;
    min-height: 50vh;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    max-width: 500px;
}